<ng-container *ngIf="type=='currency-amount'">
  <div class="row gy-4 justify-content-between align-items-center mt-4">
    <div class="col-lg-4">
      <div class="">
        <p-skeleton width="100%" height="3rem" styleClass="mb-2"></p-skeleton>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="row">
        <div class="col-md-8">
          <p-skeleton width="100%" styleClass="mb-2" height="4rem"></p-skeleton>
        </div>
        <div class="col-md-4">
          <p-skeleton width="100%" styleClass="mb-2" height="4rem"></p-skeleton>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type=='convert-currency'">
  <div class="row">
    <ng-container *ngFor="let item of [9,9,9]">
      <div class="col-lg-4 col-md-6">
        <div class="global-card">
          <div>
            <div class="d-flex align-items-center gap-2">
              <p-skeleton size="2rem" shape="circle"></p-skeleton>
              <p-skeleton width="9rem" height=".8rem"></p-skeleton>
            </div>
            <div class="p-2 pt-3">
              <p-skeleton width="12rem" height=".8rem"></p-skeleton>
              <p-skeleton width="7rem" height=".8rem" styleClass="mt-4"></p-skeleton>
            </div>
          </div>
          <div class="d-flex justify-content-end position-relative currency-content">
            <div class="convert-icon rounded-circle d-flex justify-content-center align-items-center">
              <p-skeleton size="2rem" shape="circle"></p-skeleton>
            </div>
          </div>
          <div class="pt-2">
            <div class="d-flex align-items-center gap-2">
              <p-skeleton size="2rem" shape="circle"></p-skeleton>
              <p-skeleton width="9rem" height=".8rem"></p-skeleton>
            </div>
            <div class="p-2 pt-3">
              <p-skeleton width="12rem" height=".8rem"></p-skeleton>
              <p-skeleton width="7rem" height=".8rem" styleClass="mt-4"></p-skeleton>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </div>
</ng-container>