<div id="currency-details" class="pb-4 conversions">
  <div class="container">
    <div class="global-card">
      <div class="d-flex justify-content-between align-items-center gap-2 flex-wrap">
        <h5 class="mb-0 text-dark-color">
          {{'currencyDetails.eur'|translate}}
        </h5>
        <button class="btn btn-solid-main" [routerLink]="''">
          <span class="d-flex align-items-center justify-content-center gap-2">
            {{'general.backToHome'|translate}} <i class="pi pi-arrow-circle-right scaleX-rtl"></i>
          </span>
        </button>
      </div>
      <hr>
      <div>
        <div class="row gy-3 justify-content-between">
          <div class="col-lg-4">
            <label for="amount" class="fw-bold mb-2 text-dark-color">{{'labels.amount'|translate}}</label>
            <input type="number" id="amount" [(ngModel)]="amount" placeholder="{{'placeholder.amount'|translate}}"
              class="form-control">
          </div>
          <div class="col-lg-7">
            <div class=" d-flex justify-content-end align-items-center gap-3">
              <div class="w-100">
                <label for="from" class="fw-bold mb-2 text-dark-color">{{'labels.from'|translate}}</label>
                <span class="p-input-icon-right select-loading d-block w-100">
                  <p-dropdown [options]="currenciesList" optionLabel="name" [filter]="true" [virtualScroll]="true"
                    [(ngModel)]="currencyOne" [filterPlaceholder]="'placeholder.search'|translate"
                    [virtualScrollItemSize]="38" filterBy="name" appendTo="body" [readonly]="isLoadingCurrencies"
                    scrollHeight="200px" emptyMessage="{{'general.no_result_found'|translate}}"
                    placeholder="{{'placeholder.currency'|translate}}">
                    <ng-template pTemplate="selectedItem">
                      <div class="country-item country-item-value d-flex align-items-center gap-2" *ngIf="currencyOne">
                        <img [src]="currencyOne?.image" class="dropdown-flag shadow-sm border" [alt]="currencyOne.name"
                          onerror="src='assets/images/not-found/no-fount-flag.svg'" />
                        <div>{{currencyOne.name}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-currency pTemplate="item">
                      <div class="country-item d-flex align-items-center gap-2">
                        <img [src]="currency?.image" class="dropdown-flag shadow-sm border" [alt]="currency?.name"
                          onerror="src='assets/images/not-found/no-fount-flag.svg'" />
                        <div>{{currency?.name}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                  <ng-container *ngIf="isLoadingCurrencies">
                    <i class="pi pi-spin pi-spinner"></i>
                  </ng-container>
                </span>
              </div>
              <a class="converter text-main-color" (click)="changeCurrencies()"><i
                  class="pi pi-arrow-right-arrow-left fs-5"></i></a>
              <div class="w-100">
                <label for="to" class="fw-bold mb-2 text-dark-color">{{'labels.to'|translate}}</label>
                <span class="p-input-icon-right select-loading d-block w-100">
                  <p-dropdown [options]="currenciesList" optionLabel="name" [filter]="true" [virtualScroll]="true"
                    [(ngModel)]="currencyTwo" [filterPlaceholder]="'placeholder.search'|translate"
                    [virtualScrollItemSize]="38" filterBy="name" appendTo="body" [readonly]="isLoadingCurrencies"
                    scrollHeight="200px" emptyMessage="{{'general.no_result_found'|translate}}"
                    placeholder="{{'placeholder.currency'|translate}}">
                    <ng-template pTemplate="selectedItem">
                      <div class="country-item country-item-value d-flex align-items-center gap-2" *ngIf="currencyTwo">
                        <img [src]="currencyTwo?.image" class="dropdown-flag shadow-sm border" [alt]="currencyTwo.name"
                          onerror="src='assets/images/not-found/no-fount-flag.svg'" />
                        <div>{{currencyTwo.name}}</div>
                      </div>
                    </ng-template>
                    <ng-template let-currency pTemplate="item">
                      <div class="country-item d-flex align-items-center gap-2">
                        <img [src]="currency?.image" class="dropdown-flag shadow-sm border" [alt]="currency?.name"
                          onerror="src='assets/images/not-found/no-fount-flag.svg'" />
                        <div>{{currency?.name}}</div>
                      </div>
                    </ng-template>
                  </p-dropdown>
                  <ng-container *ngIf="isLoadingCurrencies">
                    <i class="pi pi-spin pi-spinner"></i>
                  </ng-container>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-lg-7">
            <button class="btn btn-solid-main w-100 mt-3" (click)="convert()">{{'general.convert'|translate}}</button>
          </div>
        </div>
        <ng-container *ngIf="!isLoadingCurrencies;else loadingCurrencies">
          <div class="row gy-4 justify-content-between align-items-center mt-4">
            <div class="col-lg-4">
              <div class="convert-value d-flex gap-2 justify-content-center text-dark-color">
                <div>
                  1
                  <span> {{currencyOne.name}}</span>
                </div>
                <span>=</span>
                <div>
                  {{currencyOne?.conversions?.[currencyTwo.base]}}
                  <span> {{currencyTwo.name}}</span>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="d-flex justify-content-between gap-3 flex-sm-wrap">
                <div class="convert-value d-flex justify-content-center gap-2 fs-5 w-100 text-dark-color">
                  {{result | number: '1.2-2'}} <span>{{currencyTwo?.name}}</span>
                </div>
                <button class="btn btn-solid-main w-50 me-auto">{{'general.moreDetails'|translate}}</button>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #loadingCurrencies>
          <app-skeleton [type]="'currency-amount'"></app-skeleton>
        </ng-template>
      </div>
    </div>
    <div class="mt-5">
      <ng-container *ngIf="!isLoadingChartData; else noDataLoading">
        <div class="row gy-4">
          <ng-container *ngIf="chartDataRates?.length>0;else noData">
            <div class="global-card">
              <div class="row justify-content-center">
                <div class="col-md-10">
                  <p-chart type="line" [data]="chartData" [options]="chartOptions"></p-chart>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noData>
            <div class="global-card p-4 d-flex justify-content-center">
              <img src="assets/images/not-found/no-data.svg" class="no-data" alt="no-data">
            </div>
          </ng-template>
        </div>
      </ng-container>
      <ng-template #noDataLoading>
        <app-skeleton [type]="'chart'"></app-skeleton>
      </ng-template>
    </div>
  </div>
</div>